{
  "frame": 5,
  "threads": {
    "PoolThread 0": 0,
    "PoolThread 1": 0,
    "PoolThread 2": 6.15616E+7,
    "TaskGraphThread 0": 5.51993E+6,
    "StatsThread": 5.33822E+6,
    "GameThread": 5.4229E+6,
    "AsyncIOSystem": 5.6491E+6,
    "SplashScreenThread": 0,
    "FMessageBus.Router": 5.46677E+6,
    "RenderThread 0": 0,
    "RTHeartBeat 0": 0,
    "FFileTransferRunnable": 5.4681E+6,
    "ScreenSaverInhibitor": 0,
    "RenderThread 1": 6.05171E+6,
    "RTHeartBeat 1": 5.39438E+6
  },
  "memory": {
    "NameTable Memory Size": 1.18754E+6,
    "Navigation Memory": 6176,
    "Nav tree memory": 3276,
    "VertexShader Memory": 1.42773E+6,
    "Shader Resource Mem": 4.81407E+6,
    "Shader Memory": 2.50958E+6,
    "PixelShader Memory": 3.16092E+6,
    "SkeletalMesh Index Memory": 1.65582E+6,
    "SkeletalMesh Vertex Memory": 1.84025E+6,
    "Shader MapMemory": 85416,
    "Pool Memory Used": 1.6213E+7,
    "Pool Memory Size": 1.04858E+9,
    "Texture Memory Pool [Texture]": 1.04858E+9,
    "Textures Streamed In, Frame": 0,
    "Textures Streamed In, Total": 0,
    "Lightmaps Streamed In, Total": 0,
    "Batch Vertex Memory": 0,
    "Batch Index Memory": 0,
    "Total Physical": 1.70913E+10,
    "Total Virtual": 8.79609E+12,
    "PageSize": 4096,
    "Total Physical GB": 16,
    "AvailablePhysical": 7.90346E+9,
    "AvailableVirtual": 8.79472E+12,
    "UsedPhysical": 8.26184E+8,
    "PeakUsedPhysical": 8.29514E+8,
    "UsedVirtual": 7.73775E+8,
    "PeakUsedVirtual": 7.79186E+8,
    "Windows Specific Memory Stat": 0,
    "Binned OsCurrent": 6.87636E+7,
    "Binned OsPeak": 1.20242E+8,
    "Binned WasteCurrent": 1.36349E+6,
    "Binned WastePeak": 1.36363E+6,
    "Binned UsedCurrent": 6.61653E+7,
    "Binned UsedPeak": 1.17307E+8,
    "Binned CurrentAllocs": 150562,
    "Binned TotalAllocs": 4.39879E+6,
    "Binned SlackCurrent": 1.2349E+6,
    "Index Buffer Memory": 1600,
    "Vertex Buffer Memory": 12800,
    "MemStack Used (all threads)": 0,
    "Uniform buffer pool memory": 37504,
    "Texture Memory Used": 978725,
    "TEXTUREGROUP_Effects": 51936,
    "Texture memory 2D": 9.26687E+6,
    "Uniform buffer memory": 81168,
    "TEXTUREGROUP_Character": 34608,
    "TEXTUREGROUP_CharacterNormalMap": 83944,
    "TEXTUREGROUP_World": 483961,
    "TEXTUREGROUP_CharacterSpecular": 26128,
    "Primitive memory": 26544,
    "Render target memory 2D": 2.07591E+8,
    "Static draw list memory": 13240,
    "Scene memory": 18632,
    "ViewState memory": 5176,
    "Rendering mem stack memory": 6836,
    "Light interaction memory": 16384,
    "TEXTUREGROUP_WorldNormalMap": 12360,
    "TEXTUREGROUP_WorldSpecular": 0,
    "TEXTUREGROUP_Weapon": 0,
    "TEXTUREGROUP_WeaponNormalMap": 0,
    "TEXTUREGROUP_WeaponSpecular": 0,
    "TEXTUREGROUP_Vehicle": 0,
    "TEXTUREGROUP_VehicleNormalMap": 0,
    "TEXTUREGROUP_VehicleSpecular": 0,
    "TEXTUREGROUP_Cinematic": 0,
    "TEXTUREGROUP_EffectsNotFiltered": 2744,
    "TEXTUREGROUP_Skybox": 16412,
    "TEXTUREGROUP_UI": 244788,
    "TEXTUREGROUP_Lightmap": 0,
    "TEXTUREGROUP_RenderTarget": 0,
    "TEXTUREGROUP_MobileFlattened": 0,
    "TEXTUREGROUP_ProcBuilding_Face": 0,
    "TEXTUREGROUP_ProcBuilding_LightMap": 0,
    "TEXTUREGROUP_Shadowmap": 0,
    "TEXTUREGROUP_ColorLookupTable": 0,
    "TEXTUREGROUP_Terrain_Heightmap": 0,
    "TEXTUREGROUP_Terrain_Weightmap": 0,
    "TEXTUREGROUP_Bokeh": 21844,
    "TEXTUREGROUP_IESLightProfile": 0,
    "Physical Memory Pool [Physical]": 0,
    "GPU Memory Pool [GPU]": 0,
    "Texture memory Cube": 65688,
    "Texture memory 3D": 6.83213E+6,
    "StaticMesh Vertex Memory": 3.20076E+7,
    "StaticMesh VxColor Resource Mem": 0,
    "StaticMesh Index Memory": 2.81194E+7,
    "StaticMesh Total Memory": 6.01503E+7,
    "MemStack Allocated (all threads)": 131072,
    "Texture Data CPU Memory": 0,
    "Texture Atlas Memory": 5.76718E+6,
    "ICU Memory Used": 1.29317E+7,
    "Precomputed Visibility Memory": 0,
    "Render target memory Cube": 6.41837E+6,
    "Render target memory 3D": 1.25993E+7,
    "SkeletalMesh M.BlurSkinning Memory": 2.62144E+6,
    "Over Budget": 0,
    "Under Budget": 0,
    "Non-streaming Textures": 0,
    "Intermediate Textures Size": 0,
    "Textures On Disk": 0,
    "Lightmaps In Memory": 0,
    "Lightmaps On Disk": 0,
    "Streaming Textures": 0,
    "Required Streaming Textures": 0,
    "Static Textures In Memory": 0,
    "Dynamic Textures In Memory": 0,
    "LastRenderTime Textures In Memory": 0,
    "Forced Textures In Memory": 0
  }
}